.overlay
  .miri-panel.max
    .row.text-center
      .col-sm-2
      .col-sm-8
        h1 Create Character - {{step_titles[step]}}
        p {{step_descriptions[step]}}
        br
        p(ng-repeat='e in errors') 
          span.label.label-danger {{e}}
    .row.char-create(ng-show='step === 0')
      .col-sm-1
      .col-sm-5.scrollable
        .row.cc-race(ng-repeat='(id, r) in races', ng-class='{selected: character.race == id}', ng-click='select("race", id)')
          .col-sm-4
            img(src='http://placehold.it/100x100')
          .col-sm-8
            h4
              | {{r.name}}
              small
                br
                | {{r.description}}
      .col-sm-5.end
        h4 Description
        p(ng-bind-html='races[character.race].long_description')

    .row.char-create(ng-show='step === 1')
      .col-sm-2
      .col-sm-4.cc-gender(ng-repeat='(id, g) in genders', ng-class='{selected: character.gender == id}', ng-click='select("gender", id)')
        h4 {{g.name}}

    .row.char-create(ng-show='step === 2')
      .col-sm-1
      .col-sm-2.cc-description.scrollable
        h4 Description
        span(ng-repeat='(id, category) in description') 
          p(ng-repeat='desc in category') {{desc}}
      .col-sm-6.end
        ul.list-inline(ng-repeat="(id, c) in aesthetic_trait_categories | traits:character")
          h3 {{c.name}}
          li(ng-repeat='t in c.traits | traits:character', tooltip-html='"{{t.name}}<br />{{t.description}}"')
            label.rad(ng-if='c.unique')
              input(type='radio', name='{{c.id}}', ng-click='selectAestheticTrait(t, c.id)')
              trait.img(icon="t.image")
            label.ckb(ng-if='!c.unique')
              input(type='checkbox', name='{{t.id}}', ng-click='selectAestheticTrait(t, c.id)')
              trait.img(icon='t.image')
          
    .row.char-create(ng-show='step === 3')
      .col-sm-1
      .col-sm-2.cc-description.scrollable
        p
          span.label(ng-class="{'label-danger': point_deficit <= -1, 'label-success': point_deficit >= 0}") {{point_deficit}} Points
        h4 Selected Traits
        span(ng-repeat='(id, cat) in character.functional_traits')
          p(ng-repeat='trait in cat')
            {{functional_trait_categories[id].name}} - {{functional_trait_categories[id].traits[trait].name}}
      .col-sm-6
        ul.list-inline(ng-repeat='(id, c) in functional_trait_categories | traits:character')
          h3 {{c.name}}
          li(ng-repeat='t in c.traits | traits:character', tooltip-html='"{{t.name}}<br />{{t.description}}"')
            label.rad(ng-if='c.unique')
              input(type='radio', name='{{c.id}}', ng-click='selectFunctionalTrait(t, c.id)')
              trait.img(icon="t.image")
            label.ckb(ng-if='!c.unique')
              input(type='checkbox', name='{{t.id}}', ng-if='!t.required', ng-click='selectFunctionalTrait(t, c.id)')
              trait.img(icon='t.image')
      .col-sm-2.cc-description.scrollable.end
        p The points tracker in the left column indicates your point deficit. Adding positive traits will decrease your point deficit, 
          | and adding negative ones will increase it. In order for a character to be valid, your point deficit must be greater then or equal to zero.
          
    .row.char-create(ng-show='step === 4')
      .col-sm-1
      .col-sm-10
        p(ng-repeat="(id, bg) in backgrounds") {{bg.name}} {{bg.description}}
        
    .row.char-create(ng-show='step === 5')
      .col-sm-4
      .col-sm-4
        .form-group
          input.form-control(type='text', name='name', ng-model='character.name')
    
    .row
      .col-sm-2
        a(ng-show='step !== 0', ng-click='step_back()')
          .previous-arrow
          .step-text Previous
        a(ng-show='step === 0', ui-sref='main.characterSelect')
          .previous-arrow
          .step-text Cancel
      .col-sm-8
      .col-sm-2
        a.pull-right(ng-show='step !== 5', ng-click='step_forward()')
          .step-text Next
          .next-arrow
        a.pull-right.btn.btn-default(ng-show='step === 5', ng-click='create_character()')
          | Create
