.char-create
  .cc-race, .cc-gender
    margin 4px 0 0 0
    background lighten(color-blue, 5)
    padding 5px
    border 4px solid lighten(color-blue, 5)
    cursor pointer
    &.selected
      border 4px dotted lighten(color-gold, 10)
      cursor default
  .cc-race:not(:first-child)
    margin 10px 0 0 0
  .cc-gender
    margin 4px
  .scrollable
    height 500px
    overflow-x hidden
    overflow-y scroll
    padding 0 4px
  .cc-description
    background color-jet
    border-style solid
    border-width 12px
    -moz-border-image url(/assets/images/border-gray.png) 12 repeat
    -webkit-border-image url(/assets/images/border-gray.png) 12 repeat
    -o-border-image url(/assets/images/border-gray.png) 12 repeat
    border-image url(/assets/images/border-gray.png) 12 fill repeat
    border-image-outset 6px
    border-radius(0)
    margin-right 20px

.chat-bubble
  background-color color-gainsboro
  border-radius: 5px;
  box-shadow 0 0 6px color-base
  display inline-block
  padding 10px 18px
  position relative
  vertical-align top
  color color-oil
  float right
  margin 5px 20px 5px 45px
  &:before
    background-color color-gainsboro
    content "\00a0"
    display block
    height: 16px;
    position: absolute;
    top: 11px;
    transform:         rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow 2px -2px 2px 0 rgba( 178, 178, 178, .4 )
    right -9px

.faerie-helper
  height 32px
  width 32px
  background url('/assets/images/faerie.png') 0 0 no-repeat
  position absolute
  top 5px
  right -20px

.previous-arrow, .next-arrow
  height 64px
  margin 10px 4px
  width 64px
  cursor pointer
  &:hover
    opacity 0.8

.previous-arrow
  float left
  background url('/assets/images/arrows.png') 0 0 no-repeat
.next-arrow
  float left
  background url('/assets/images/arrows.png') -64px 0 no-repeat

.step-text
  cursor pointer
  color darken(white, 10)
  float left
  margin-top 28px
  font-size 2rem
  &:hover
    color darken(white, 20)
