.overlay
  .miri-panel.max
    .row.text-center
      .col-sm-2
      .col-sm-8
        h1 Create Character - {{step_titles[step]}}
    .row.text-center
      .col-sm-4
      .col-sm-4
        p(ng-repeat='e in errors') 
          span.label.label-danger {{e}}
    .row.text-center
      .col-sm-12
        h4
          | {{character.name || '?'}}, 
          | {{races[character.race].name}} 
          | {{genders[character.gender].name || '?'}} - 
          | {{backgrounds[character.background].name || '?'}}
        br
    .row.char-create(ng-show='step === 0')
      .col-sm-12.text-center(ng-show='showLoader')
        img.loader(src="/assets/images/loader.gif")
      .col-sm-1
      .col-sm-3.scrollable
        .row.cc-race(ng-repeat='(id, r) in races', ng-class="{'selected active-selection-anim': character.race == id}", ng-click='select("race", id)')
          .topbottom
          .leftright
          .col-sm-12
            h4
              | {{r.name}}
              small
                br
                | {{r.description}}
      .col-sm-8.end
        .row
          .col-sm-7
            h4 Description
            p(ng-bind-html='races[character.race].long_description')
          .col-sm-5
            img(src='http://placehold.it/250x500')

    .row.char-create(ng-show='step === 1')
      .col-sm-12.text-center(ng-show='showLoader')
        img.loader(src="/assets/images/loader.gif")
      .col-sm-3
      .col-sm-3.cc-gender.text-center(ng-repeat='(id, g) in genders', ng-class="{'selected active-selection-anim': character.gender == id}", ng-click='select("gender", id)')
        .topbottom
        .leftright
        h4 
          span.pull-left(ng-show='g.name == "Female"') &female;
          span.pull-left(ng-show='g.name == "Male"') &male;
          | {{g.name}}

    .row.char-create(ng-show='step === 2')
      .col-sm-12.text-center(ng-show='showLoader')
        img.loader(src="/assets/images/loader.gif")
      .col-sm-1
      .col-sm-3.cc-description.scrollable
        h4 Description
        span(ng-repeat='(id, category) in description') 
          p(ng-repeat='desc in category') {{desc | trait_description:character}}
      .col-sm-6.end
        ul.list-inline(ng-repeat="(id, c) in aesthetic_trait_categories | traits:character")
          h3 {{c.name}}
          li(ng-repeat='t in c.traits | traits:character', tooltip-html='"{{t.name}}<br />{{t.description | trait_description:character}}"')
            label.rad(ng-if='c.unique')
              input.aesthetic_trait(type='radio', name='{{c.id}}', ng-click='selectAestheticTrait(t, c.id)')
              span.img(trait="t.id", category='c.id')
            label.ckb(ng-if='!c.unique')
              input.aesthetic_trait(type='checkbox', name='{{t.id}}', ng-click='selectAestheticTrait(t, c.id)')
              span.img(trait='t.id', category='c.id')
          
    .row.char-create(ng-show='step === 3')
      .col-sm-12.text-center(ng-show='showLoader')
        img.loader(src="/assets/images/loader.gif")
      .col-sm-1
      .col-sm-2.cc-description.scrollable
        p
          span.label(ng-class="{'label-danger': point_deficit <= -1, 'label-success': point_deficit >= 0}") {{point_deficit}} Points
        h4 Selected Traits
        span(ng-repeat='(id, cat) in character.functional_traits')
          p(ng-repeat='trait in cat')
            {{functional_trait_categories[id].name}} - {{functional_trait_categories[id].traits[trait].name}}
      .col-sm-6
        ul.list-inline(ng-repeat='(id, c) in functional_trait_categories | traits:character')
          h3 {{c.name}}
          li(ng-repeat='t in c.traits | traits:character', tooltip-html='"{{t.name}}<br />{{t.description | trait_description:character}}"')
            label.rad(ng-if='c.unique')
              input.functional_trait(type='radio', name='{{c.id}}', ng-click='selectFunctionalTrait(t, c.id)')
              span.img(trait='t.id', category='c.id')
                .topbottom
                .leftright
            label.ckb(ng-if='!c.unique')
              input.functional_trait(type='checkbox', name='{{t.id}}', ng-if='!t.required', ng-click='selectFunctionalTrait(t, c.id)')
              span.img(trait='t.id', category='c.id')
                .topbottom
                .leftright
      .col-sm-2.cc-description.scrollable.end
        p The points tracker in the left column indicates your point deficit. Adding positive traits will decrease your point deficit, 
          | and adding negative ones will increase it. In order for a character to be valid, your point deficit must be greater then or equal to zero.
          
    .row.char-create(ng-show='step === 4')
      .col-sm-12.text-center(ng-show='showLoader')
        img.loader(src="/assets/images/loader.gif")
      .col-sm-1
      .col-sm-10
        .row
          .col-sm-4(ng-repeat='(id, bg) in backgrounds', ng-click='select("background", id)')
            .cc-background(ng-class="{'selected active-selection-anim': character.background == id}")
              .topbottom
              .leftright
              h4 {{bg.name}}
              p.muted {{bg.description | trait_description:character}}
        
    .row.char-create(ng-show='step === 5')
      .col-sm-4
      .col-sm-4
        .form-group
          input.form-control(type='text', name='name', ng-model='character.name', placeholder='First & Last Name')
        .form-group.text-center
          a.btn.btn-lg.btn-default(ng-click='create_character()')
            | Create
    .row
      br
    
    .row
      .col-sm-4
        a(ng-show='step !== 0', ng-click='step_back()')
          .previous-arrow
          .step-text Previous
        a(ng-show='step === 0', ui-sref='main.characterSelect')
          .previous-arrow
          .step-text Cancel
      .col-sm-4.text-center
        .chat-bubble {{step_descriptions[step]}}
        .faerie-helper
      .col-sm-4
        a.pull-right(ng-show='step !== 5', ng-click='step_forward()')
          .step-text Next
          .next-arrow
