@keyframes selected-move-top
  0%
    background-position 0 0
  100%
    background-position 10px 0px
@keyframes selected-move-bottom
  0%
    background-position 0 0
  100%
    background-position -10px 0px
@keyframes selected-move-left
  0%
    background-position 0 0
  100%
    background-position 0px -10px
@keyframes selected-move-right
  0%
    background-position 0 0
  100%
    background-position 0px 10px

selected-anim-border-spacing = 0
.leftright:after
  content ''
  position absolute
  left selected-anim-border-spacing
.leftright:before
  content ''
  position absolute
  right selected-anim-border-spacing
.leftright:after, .leftright:before
  bottom selected-anim-border-spacing
  top selected-anim-border-spacing
  height 100%
  width 2px
  background-position bottom
  background-size 2px 11px
  background-repeat repeat-y
.topbottom:before
  content ''
  position absolute
  bottom selected-anim-border-spacing
.topbottom:after
  content ''
  position absolute
  top selected-anim-border-spacing
.topbottom:after, .topbottom:before
  height 2px
  width 100%
  left selected-anim-border-spacing
  right selected-anim-border-spacing
  background-position bottom
  background-size 11px 2px
  background-repeat repeat-x

.active-selection-anim
  .leftright
    &:after
      animation selected-move-left 1.2s linear infinite
    &:before
      animation selected-move-right 1.2s linear infinite
    &:after, &:before
      background-image linear-gradient(to top, color-sky 70%, rgba(255, 255, 255, 0) 0%)
  .topbottom
    &:after
      animation selected-move-top 1.2s linear infinite
    &:before
      animation selected-move-bottom 1.2s linear infinite
    &:after, &:before
      background-image linear-gradient(to right, color-sky 70%, rgba(255, 255, 255, 0) 0%)

.char-create
  .cc-race, .cc-gender, .cc-background
    margin 4px 0 0 0
    background lighten(color-blue, 5)
    padding 5px
    cursor pointer
    transition all 0.3s ease
    position relative
    &.selected
      cursor default
    &:hover
      transform(scale(0.9))
  .cc-race:not(:first-child)
    margin 10px 0 0 0
  .cc-gender
    margin 4px
  .cc-background
    padding 20px
    margin-bottom 20px
  .scrollable
    height 500px
    overflow-x hidden
    overflow-y scroll
    padding 0 4px
  .cc-description
    background color-jet
    border-style solid
    border-width 12px
    -moz-border-image url(/assets/images/border-gray.png) 12 repeat
    -webkit-border-image url(/assets/images/border-gray.png) 12 repeat
    -o-border-image url(/assets/images/border-gray.png) 12 repeat
    border-image url(/assets/images/border-gray.png) 12 fill repeat
    border-image-outset 6px
    border-radius(0)
    margin-right 20px

.chat-bubble
  background-color color-gainsboro
  border-radius: 5px;
  box-shadow 0 0 6px color-base
  display inline-block
  padding 10px 18px
  position relative
  vertical-align top
  color color-oil
  float right
  margin 5px 20px 5px 45px
  &:before
    background-color color-gainsboro
    content "\00a0"
    display block
    height 16px
    position absolute
    top: 11px;
    transform         rotate( 29deg ) skew( -35deg )
    -moz-transform    rotate( 29deg ) skew( -35deg )
    -ms-transform     rotate( 29deg ) skew( -35deg )
    -o-transform      rotate( 29deg ) skew( -35deg )
    -webkit-transform rotate( 29deg ) skew( -35deg )
    width 20px
    box-shadow 2px -2px 2px 0 rgba( 178, 178, 178, .4 )
    right -9px

.faerie-helper
  height 32px
  width 32px
  background url('/assets/images/faerie.png') 0 0 no-repeat
  position absolute
  top 5px
  right -20px

.previous-arrow, .next-arrow
  height 64px
  margin 10px 4px
  width 64px
  cursor pointer
  &:hover
    opacity 0.8

.previous-arrow
  float left
  background url('/assets/images/arrows.png') 0 0 no-repeat
.next-arrow
  float left
  background url('/assets/images/arrows.png') -64px 0 no-repeat

.step-text
  cursor pointer
  color darken(white, 10)
  float left
  margin-top 28px
  font-size 2rem
  &:hover
    color darken(white, 20)
