.miri-panel
  .modal-header
    button.close(type='button', data-dismiss='modal', ng-click='$close()')
      span(aria-hidden='true') &times;
      span.sr-only Close
    h3.modal-title Are you sure you want to delete {{name}}?
  .modal-body
    .row
      .col-sm-12
        p(ng-repeat='e in errors') 
          span.label.label-danger {{e}}
    .form-group
      label Enter the character's first name to confirm.
      input.form-control(type='text', ng-model='characterDeleteName', placeholder='First Name')
    .form-group
      button.btn.btn-lg.btn-default(ng-click='delete()', ng-disabled='characterDeleteName != name') Delete
