.overlay
  .miri-panel.max
    .row.text-center
      .col-sm-2
      .col-sm-8
        h1 Create Character - {{step_titles[step]}}
        hr
    .row.char-create(ng-show='step === 0')
      .col-sm-2
      .col-sm-4.scrollable
        .row.cc-race(ng-repeat='r in races track by $index', ng-class='{selected: selected_race == r}', ng-click='race_select(r)')
          .col-sm-4
            img(src='http://placehold.it/100x100')
          .col-sm-8
            h4
              | {{r.name}}
              small
                br
                | {{r.description}}
      .col-sm-5.end
        h4 Description
        p(ng-bind-html='selected_race.long_description') 
    .row
      .col-sm-2
        
      .col-sm-8
        
      .col-sm-2
