.char-create
  .cc-race
    margin 10px 0px
    background lighten(color-blue, 10)
    padding 5px
    border 4px solid lighten(color-blue, 10)
    cursor pointer
    &.selected
      border 4px dotted lighten(color-gold, 10)
      cursor default
  .scrollable
    max-height 350px
    overflow-x hidden
    overflow-y scroll

.previous-arrow, .next-arrow
  height 32px
  margin 10px 4px
  width 32px

.previous-arrow
  float left
  background url('/assets/images/arrows.png') 0 0 no-repeat
.next-arrow
  float left
  background url('/assets/images/arrows.png') -32px 0 no-repeat

.step-text
  float left
  margin-top 12px
  font-size 2rem
