.overlay
  .miri-panel.max
    .row.text-center
      .col-sm-2
      .col-sm-8
        h1 Create Character - {{step_titles[step]}}
        hr
    .row.char-create(ng-show='step === 0')
      .col-sm-2
      .col-sm-4.scrollable
        .row.cc-race(ng-repeat='(id, r) in races', ng-class='{selected: character.race == id}', ng-click='select("race", id)')
          .col-sm-4
            img(src='http://placehold.it/100x100')
          .col-sm-8
            h4
              | {{r.name}}
              small
                br
                | {{r.description}}
      .col-sm-5.end
        h4 Description
        p(ng-bind-html='races[character.race].long_description')

    .row.char-create(ng-show='step === 1')
      .col-sm-2
      .col-sm-4.cc-gender(ng-repeat='(id, g) in genders', ng-class='{selected: character.gender == id}', ng-click='select("gender", id)')
        h4 {{g.name}}

    .row.char-create(ng-show='step === 2')
      .col-sm-2
      .col-sm-8.text-center
        ul.list-inline(ng-repeat='(id, c) in aesthetic_trait_categories')
          h3 {{c.name}}
          li(ng-repeat='t in c.traits', tooltip-html='"{{t.name}}<br />{{t.description}}"')
            label.rad(ng-if='c.unique')
              input(type='radio', name='{{c.id}}', ng-click='selectAestheticTrait(t.id, c.id)')
              trait.img(icon="t.image")
            label.ckb(ng-if='!c.unique')
              input(type='checkbox', name='{{t.id}}', ng-click='selectAestheticTrait(t.id, c.id)')
              trait.img(icon='t.image')

    .row
      .col-sm-2
        a(ng-show='step !== 0', ng-click='step_back()')
          .previous-arrow
          .step-text Previous
        a(ng-show='step === 0', ui-sref='main.character_select')
          .previous-arrow
          .step-text Cancel
      .col-sm-8
      .col-sm-2
        a.pull-right(ng-click='step_forward()')
          .step-text Next
          .next-arrow
