.overlay.miri.container-fluid
  .container.panel.centered.miri-panel
    .row
      .col-sm-12.text-center
        h1 Select Character
        hr
    .row
      .col-sm-4(ng-repeat='n in [0,1,2]')
        .character-box
          br
          br
          p
            h4 Character Name
          trait(trait-icon='n + 1')
          br
          | Current Location
          a.btn.play-btn.btn-primary.btn-lg Play
