.overlay.miri.container-fluid
  .container.panel.centered.miri-panel
    .row
      .col-sm-12.text-center
        h1 Select Character
        hr
    .row
      .col-sm-4(ng-repeat='n in [1,4]')
        .character-box
          h4 Character Name
          trait(trait-icon='n')
          p A quick little blurb about the character maybe. 
          br
          | Current Location
          a.btn.play-btn.btn-primary.btn-lg Play
      .col-sm-4
        .character-box
          h4 Empty
          a.btn.play-btn.btn-primary.btn-lg Create
