p.text-center(ng-controller='FooterCtrl')
  -// @todo link @mirionline to twitter account
  | Miri Online &copy; Pancake Doghouse; @mirionline
  | &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='#', ng-click="open('terms-static')") Terms
  = ' | '
  a(href='#', ng-click="open('privacy')") Privacy
