@import "bootstrap/dist/css/bootstrap.css"

color-blue   = #2b4547
color-brown  = #5e4f2e
color-gold   = #c7c3a6
color-purple = #423a4f
color-red    = #8f4747
color-sky    = #6dadb9

color-aluminum    = #999999
color-white       = #FFFFFF
color-ghost       = #FAFAFA
color-snow        = #F9F9F9
color-vapor       = #F6F6F6
color-white-smoke = #F5F5F5
color-silver      = #EFEFEF
color-smoke       = #EEEEEE
color-gainsboro   = #DDDDDD
color-iron        = #CCCCCC
color-base        = #AAAAAA
color-jumbo       = #888888
color-monsoon     = #777777
color-steel       = #666666
color-charcoal    = #555555
color-tuatara     = #444444
color-oil         = #333333
color-jet         = #222222
color-black       = #000000

::-webkit-scrollbar
  width 4px

::-webkit-scrollbar-track
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
  border-radius 10px

::-webkit-scrollbar-thumb
  border-radius 10px
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.75)

#nano
  background rgba(0,0,0,0)
  height 6px
  div
    background color-gold !important

// Component styles are injected through grunt
// injector
@import '_functions.styl';
@import 'characters/create/create.styl';
@import 'main/main.styl';
@import 'main/movement.styl';
@import 'directives/passwordStrength/passwordStrength.styl';
@import 'directives/trait/trait.styl';
@import 'footer/footer.styl';
// endinjector
// endinjector
