@import "bootstrap/dist/css/bootstrap.css"

@font-face
  font-family 'Pexico-Regular'
  src url('/assets/fonts/2EF7D7_0_0.eot')
  src url('/assets/fonts/2EF7D7_0_0.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/2EF7D7_0_0.woff2')      format('woff2'),
      url('/assets/fonts/2EF7D7_0_0.woff')       format('woff'),
      url('/assets/fonts/2EF7D7_0_0.ttf')        format('truetype')

color-blue   = #4C5C6D
color-brown  = #A79171
color-gold   = #A79C71
color-purple = #585273

color-aluminum    = #999999
color-white       = #FFFFFF
color-ghost       = #FAFAFA
color-snow        = #F9F9F9
color-vapor       = #F6F6F6
color-white-smoke = #F5F5F5
color-silver      = #EFEFEF
color-smoke       = #EEEEEE
color-gainsboro   = #DDDDDD
color-iron        = #CCCCCC
color-base        = #AAAAAA
color-jumbo       = #888888
color-monsoon     = #777777
color-steel       = #666666
color-charcoal    = #555555
color-tuatara     = #444444
color-oil         = #333333
color-jet         = #222222
color-black       = #000000

// Component styles are injected through grunt
// injector
@import '_functions.styl';
@import 'characters/create.styl';
@import 'main/main.styl';
@import 'directives/passwordStrength/passwordStrength.styl';
@import 'directives/trait/trait.styl';
@import 'footer/footer.styl';
// endinjector
// endinjector
