.overlay
  .miri-panel.max
    .row.text-center
      .col-sm-4
      .col-sm-4
        h1 Select Character
    .row
      .col-sm-4(ng-repeat='n in characters track by $index')
        .character-box(ng-switch='n')
          span(ng-switch-when='undefined')
            h3.english Empty
            a.cursive.play-btn(ui-sref='main.characterCreate') Create
          span(ng-switch-default='')
            button.close(type='button', data-dismiss='modal', ng-click='deleteCharacter(n.character)')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h3.english {{ n.character.name }}
            p.desc {{n.description}}
            p
              strong Realm: 
              | {{n.realm}}
            p
              strong Location: 
              | {{n.location}}
            a.play-btn.cursive(ng-click='selectCharacter(n.character.id)', href='#') Play
