.overlay
  .miri-panel.max
    .row.text-center
      .col-sm-4
      .col-sm-4
        h1 Select Character
    .row
      .col-sm-4(ng-repeat='n in characters track by $index')
        .character-box(ng-switch='n')
          span(ng-switch-when='undefined')
            h4 Empty
            a.cursive.play-btn(ui-sref='main.characterCreate') Create
          span(ng-switch-default='')
            a.pull-right.red(ng-click='deleteCharacter(n)', href="#") X
            h4 {{ n.name }}
            trait(trait-icon='n')
            p A quick little blurb about the character maybe.
            br
            | Current Location
            a.play-btn.cursive(ng-click='selectCharacter(n.id)', href='#') Play
