.overlay.miri.container-fluid
  .container.panel.centered.miri-panel
    .row.text-center
      .col-sm-4
      .col-sm-4
        h2(ng-show='!error_message') {{loading_message}}{{loading_postfix}}
        div(ng-show='error_message')
          h2 Connection Failed
          p {{error_message}}
          a.btn.btn-lg.btn-default(ng-click='connect()') Try Again
          
