.status-effects-box.miri-panel.text-center
  status-effect(icon='-1')
  
.location-box.miri-panel
  h5 {{location.name}}
  p {{location.description}}

.action-box.miri-panel
  .message-container.scrollable
      
.weather-box.miri-panel
  h5 Weather and other location details
  
.entities-box.miri-panel
  h5 Interactable entities
  
.chat-box.miri-panel
  form(role="form", ng-submit="sendDialogCommand()", ng-init="dialog.command = 'say'")
    .input-group
      .input-group-btn(dropdown="", is-open="dialogSelectOpen", ng-init="dialogSelectOpen = false")
        button#dialog-select.btn.btn-default(dropdown-toggle="", type="button")
          | {{dialog.command.charAt(0).toUpperCase() + dialog.command.slice(1)}} 
          span.caret
        ul.dropdown-menu(role="menu", aria-labelled-by="dialog-select")
          li(role="menuitem")
            a(ng-click="dialog.command = 'say'") Say
          li(role="menuitem")
            a(ng-click="dialog.command = 'yell'") Yell
      input.form-control.command-box(type='text', name="dialogInput", ng-model="dialog.args.input", placeholder="...", ng-disabled="{{commandBoxDisabled}}")
      .input-group-btn
        button.btn.btn-default Emotes
        
.hotkeys-box.miri-panel
  h5 Hotkeys
  
.movement-box.text-center.miri-panel
  .movement
    span(class='{{d}}', ng-class='{active: !!directions[d]}', ng-click='!!directions[d] && send("move", {direction: d})', ng-repeat='d in MOVEMENT')
    .compass

.admin-command-box.miri-panel(ng-show="auth.isAdmin()")
  form
  .input-group
    input.form-control(type='text', name='command', ng-model='admin_form.command', placeholder='command')  
    input.form-control(type='text', name='args', ng-model="admin_form.args", placeholder="args as json")
    .input-group-btn
      button.btn.btn-default(ng-click='sendCommand()') Send

a(ui-sref='main')
  span.logo

a.settings-button(popover-template="'app/account/settings/options.html'")

.ui-view
