.status-effects-box.miri-panel.text-center
  status-effect(ng-repeat='s in status_effects track by $index', icon='{{s.id}}', uib-tooltip='{{s.description}}', tooltip-placement='right')
  
.location-box.miri-panel
  h3.english {{location.name}}
  .row 
    .col-sm-6(style="border-right:1px solid rgba(255,255,255,0.2)")
      p {{location.description}}

.action-box.miri-panel
  .message-container.scrollable
      
.weather-box.miri-panel
  h5 Weather and other location details
  
.entities-box.miri-panel
  h5 Interactable entities
  
.chat-box.miri-panel
  .row
    .col-sm-12
      form(role="form", ng-submit="sendDialogCommand()", ng-init="dialog.command = 'say'")
        .input-group
          .input-group-btn(uib-dropdown="", is-open="dialogSelectOpen", ng-init="dialogSelectOpen = false")
            button#dialog-select.btn.btn-default(uib-dropdown-toggle="", type="button")
              | {{dialog.command.charAt(0).toUpperCase() + dialog.command.slice(1)}} 
              span.caret
            ul.dropdown-menu(role="menu", aria-labelled-by="dialog-select")
              li(role="menuitem")
                a(ng-click="dialog.command = 'say'") Say
              li(role="menuitem")
                a(ng-click="dialog.command = 'whisper'") Whisper
              li(role="menuitem")
                a(ng-click="dialog.command = 'yell'") Yell
          input.form-control.command-box(type='text', name="dialogInput", ng-model="dialog.args.input", placeholder="...", ng-disabled="{{commandBoxDisabled}}")
          .input-group-btn
            button.btn.btn-default Emotes
  br
  .row
    .col-sm-12
      menu-button(icon='-1', uib-tooltip='Inventory (I)', tooltip-placement="bottom")
      menu-button(icon='-1', uib-tooltip='Skills (S)', tooltip-placement="bottom")
        
.hotkeys-box.miri-panel
  h5 Hotkeys
  
.movement-box.text-center.miri-panel
  .movement(ng-show='!moving()')
    span(class='{{d}}', ng-class='{active: !!directions[d]}', ng-click='!!directions[d] && send("move", {direction: d})', ng-repeat='d in MOVEMENT')
    .compass
  .movement(ng-show='moving()')
    img.loader(src="/assets/images/loader.gif")

.admin-command-box.miri-panel(ng-show="auth.isAdmin()")
  form
  .input-group
    input.form-control(type='text', name='command', ng-model='admin_form.command', placeholder='command')  
    input.form-control(type='text', name='args', ng-model="admin_form.args", placeholder="args as json")
    .input-group-btn
      button.btn.btn-default(ng-click='sendCommand()') Send

a(ui-sref='main')
  span.logo

a.settings-button(uib-popover-template="'app/account/settings/options.html'")

.ui-view
