html, body, .play-view
  height 100%
  background darken(color-purple, 25)

.play-view
  min-width 1200px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

input, .btn, button, .form-control,
.progress, .label
  border-radius(0)

.btn-primary
  background lighten(color-blue, 20)
  border 1px solid lighten(color-blue, 20)
  &:hover
    border 1px solid lighten(color-blue, 10)
    background lighten(color-blue, 10)

.miri-panel
  font-family Pexico-Regular
  background darken(color-blue, 10)
  color color-iron
  margin 1em
  border-style solid
  border-width 23px
  -moz-border-image url(/assets/images/border.png) 23 repeat
  -webkit-border-image url(/assets/images/border.png) 23 repeat
  -o-border-image url(/assets/images/border.png) 23 repeat
  border-image url(/assets/images/border.png) 23 fill repeat
  border-image-outset 6px
  border-radius(0)
  a:not(.btn)
    color lighten(color-blue, 25)
    &:hover, &:active
      text-decoration none
      color lighten(color-blue, 20)
  hr
    border-top 1px solid color-iron

.overlay
  top 0
  left 0
  width 100%
  height 100%
  overflow hidden
  background rgba(0, 0, 0, 0.4)
  display flex
  justify-content center
  align-items center
  resize both
  z-index 2
  .miri-panel
    height auto
    min-width 700px
    width 50%
    &.max
      width 90%
    .inner-panel
      width 75%
      margin 0 auto

.status-effects-box, .location-box, .action-box, .weather-box, .entities-box, .overlay,
.hotkeys-box, .movement-box, .chat-box, .admin-command-box
  position absolute

.status-effects-box
  width 5%
  height 85%
  left 5px
  top 0
  border-width 0
  border-radius(200px)
  box-shadow(0 0 10px 6px darken(color-purple, 35))
  padding 30px 4px

.location-box
  width 70%
  height 25%
  left 7%
  top 0

.action-box
  width 70%
  height 45%
  left 7%
  top 27%

.weather-box
  width 19%
  height 20%
  right 5px
  top 0

.entities-box
  width 19%
  height 50%
  right 5px
  top 22%

.movement-box
  right 5px
  width 19%
  top 74%
  height 20%

.chat-box
  width 33%
  top 74%
  height 10%
  left 7%

.hotkeys-box
  top 74%
  width 35%
  height 15%
  left 42%

.admin-command-box
  bottom 0
  height 10%
  width 50%
  left 25%
  z-index 200
  input[name=command]
    width 25% !important
  input[name=args]
    width 75% !important

.logo
  background url(/assets/images/logo.png)
  height 80px
  width 280px
  position absolute
  bottom 0
  left -20px

.message-container
  overflow-y scroll
  overflow-x auto
  background color-monsoon
  height 50%
  &::-webkit-scrollbar
    display none

.character-box
  text-align center
  // background color-smoke
  background url(/assets/images/scroll.png) center no-repeat
  color color-tuatara
  min-height 400px
  padding: 32px 20px
  max-width 350px
  margin 0 auto

  .play-btn
    position absolute
    bottom 20px
    width 34%
    left 33%
