section.main, div.main
  height 90%

  .message-container
    overflow hidden
    padding 20px

.bottom
  height 10%

.section-a
  height 30%
.section-b
  height 60%

// Messages
.message
  padding-bottom 10px

.system-message
  color #aaa

.system-chat
  color green
  font-weight bold

footer
  position fixed
  bottom 0
  background #888
  width 50%
  left 25%
  a
    color darken(#547980, 15)
    &:hover, &:active
      color darken(#547980, 10)
