section.container-fluid.miri
  section.row.main
    .col-xs-1.miri
      .miri-panel
        h5 Status Effects
    .col-xs-8.miri
      .miri-panel
        h5 Main window
        .message-container(message-box="msgs")
          .row(ng-repeat="m in msgs")
            .col-xs-12.message {{m.data}}
    .col-xs-3.miri
      .row.section-a
        .col-xs-12.miri
          .miri-panel
            h5 Weather and other location details
      .row.section-b
        .col-xs-12.miri
          .miri-panel
            h5 Interactable entities
  section.row.bottom
    .col-xs-9
      .row
        .col-xs-6
          .miri-panel
            form(role="form", ng-submit="sendCommand()", ng-init="dialog.command = 'say'")
              .input-group
                .input-group-btn(dropdown="", is-open="dialogSelectOpen", ng-init="dialogSelectOpen = false")
                  button#dialog-select.btn.btn-default(dropdown-toggle="", type="button")
                    | {{dialog.command.charAt(0).toUpperCase() + dialog.command.slice(1)}} 
                    span.caret
                  ul.dropdown-menu(role="menu", aria-labelled-by="dialog-select")
                    li(role="menuitem")
                      a(ng-click="dialog.command = 'say'") Say
                    li(role="menuitem")
                      a(ng-click="dialog.command = 'yell'") Yell
                input.form-control.command-box(type='text', name="dialogInput", aria-label='...', ng-model="dialog.args.input", placeholder="...", ng-disabled="{{commandBoxDisabled}}")
                .input-group-btn
                  button.btn.btn-default Emotes
        .col-xs-6
          .miri-panel
            h5 Hotkeys
    .col-xs-3
      .miri-panel
        h5 Movement controls

.ui-view
