section.main, div.main
  height 90%

  .message-container
    overflow-y scroll
    overflow-x auto
    background color-monsoon
    height 50%
    &::-webkit-scrollbar
      display none

.bottom
  height 10%

.section-a
  height 30%
.section-b
  height 60%

footer
  position fixed
  bottom 0
  background color-monsoon
  width 50%
  left 25%
  a
    color darken(color-blue, 15)
    &:hover, &:active
      color darken(color-blue, 10)
