.movement
  .north,.northeast,.northwest,.west,.east,.south,.southeast,.southwest
    position absolute
    opacity 0.25
    transition: all 0.3s ease
    &.active
      opacity 0.8
      &:hover
        opacity 1
        cursor pointer
  .north,.south,.east,.west,.compass
    height 48px
    width 48px
  .northwest,.northeast,.southwest,.southeast
    height 32px
    width 32px
  .north
    top 0
    left 60px
    background url('/assets/images/ui.png') 0 0 no-repeat
  .south
    top 116px
    left 60px
    background url('/assets/images/ui.png') -144px 0 no-repeat
  .west
    top 58px
    left 0
    background url('/assets/images/ui.png') -96px 0 no-repeat
  .east
    top 58px
    left 120px
    background url('/assets/images/ui.png') -48px 0 no-repeat
  .northeast
    top 23px
    left 108px
    background url('/assets/images/ui.png') -96px -48px no-repeat
  .northwest
    top 24px
    left 24px
    background url('/assets/images/ui.png') -32px -48px no-repeat
  .southeast
    top 110px
    left 108px
    background url('/assets/images/ui.png') -64px -48px no-repeat
  .southwest
    top 111px
    left 28px
    background url('/assets/images/ui.png') 0 -48px no-repeat
  .compass
    position absolute
    top 58px
    left 60px
    background url('/assets/images/ui.png') -192px 0 no-repeat
